body {
    background-color: rgb(125, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
    
}

.body2 {
    background-color: rgb(11, 39, 148);
    font-family: Arial, Helvetica, sans-serif;
    
}

.body3 {
    background-color: rgb(87, 125, 27);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    width: 60%;
    background-color: wheat;
    border: 1px solid white;
    margin: 0px auto;
    
}
.contenedor {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid black;
    margin: 0px auto;
}

.contenedor2 {
    width: 60%;
    background-color: burlywood;
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
}

.lista {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: bisque;
}

.contenedor3 {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
}
